{% extends "auctions/layout.html" %}
{% block title %}Auctions - Categories{% endblock %}
{% block main %}
     <main class="main">

        <div class="categories-wraper">
            <h1>Categories</h1>
            <p style="text-align: center; margin-top: 20px; margin-bottom: 0;">Choose a category below and see all the active listings in the category</p>
            <div class="categories-flex">
                 {% for category in categories %}
                    <a href="{% url 'category' category.name %}">
                        <div class="listing-categories" >
                            <img src="{% if category.imgurl %}{{category.imgurl}}{% else %} https://placehold.co/100x100 {% endif %}" alt="">
                            <p class="category-title">{{category.name}}</p>
                        </div>
                    </a>

                    
                    
                   
                 {% endfor %}

            </div>
           

        </div>
          
        </ul>

    </main>
  

{% endblock %}