{% extends "auctions/layout.html" %}

{% block main %}



 

     <main class="categories-main">

        <div class="categories-wraper">
            <h2>Categories</h2>
            <p style="text-align: center; margin-top: 20px; margin-bottom: 0;">Choose a category below and see all the active listings in the category</p>
            <div class="categories-flex">
                 {% for category in categories %}
                    <a href="{% url 'category' category.name %}">
                        <div class="listing-categories" >
                            <img src="{{category.imgurl}}" alt="">
                            <p class="category-title">{{category.name}}</p>
                        </div>
                    </a>

                    
                    
                   
                 {% endfor %}

            </div>
           

        </div>
          
        </ul>

    </main>
  

{% endblock %}