{% extends "auctions/layout.html" %}

{% block main %}
    <div class="bg">
        <main class="main-single-listing">
            <div class="single-listing-wraper pt-5 pb-5">
                <div class="listing">
                    
                  
                    <p class="status-label" style="{% if listing.status == 'T' %} background-color: rgb(2, 164, 124);{% else %} background-color: rgb(230, 96, 96);{% endif %}"> {% if listing.status == "T"%} Active Listing {% else %} Inactive Listing {% endif %}</p>
                    <div class="listing-wrap">
                       
                        <div class="left-listing">
                            <img src="{{listing.imgurl}}" alt="">
                        </div>
                    

                        <div class="listing-content">
                            <h2>{{listing.title}}</h2>
                            <p class="desc">
                                {{listing.description}}
                            </p>
                            <div class="price-flex">
                                <p class="start-price">Starting Bid: <span class="pricing">${{listing.starting_price}}</span> </p>
                                {% if latest_bid %}
                                    <p class="latest-bid">Latest bid: <span class="pricing">${{ latest_bid}}</span> </p>
                                {% else %}
                                    <p class="latest-bid">Latest bid: <span class="pricing">N/A</span> </p>
                                {% endif %}
                            </div>
                    
                            <div class="meta">
                                <p class="cat">Category: <span>{{listing.category.name}}</span></p>
                                <p class="by">Created by: <span>{{listing.user.username}}</span></p>
                                <p class="by">On: <span>{{listing.created}}</span></p>
                                
                            </div>

                            {% if user.is_authenticated %}
                                {% if not listingowner %}
                                    <form action=""class="watchlist-add-form" method="POST">
                                    {% csrf_token %}
                                    {% if messages %}
                                        {% for message in messages %}
                                            {% if "success" in message.tags  and "watchlist" in message.tags %}
                                                <p class="success">{{message}}</p>
                                            {% endif %}
                                            
                                        {% endfor %}
                                    {% endif %}

                                    {% if exists %}
                                        <input class="remove-watchlist-btn"  type="submit"name="remove_watchlist" value="Remove from Watchlist">
                                    {% else %}
                                        <input class="add-watchlist-btn" type="submit"name="add_watchlist" value="Add to Watchlist">
                                    {% endif %}
                                    </form>
                                {% endif %}
                            {% endif %}

                            {% if user.is_authenticated %}

                                <!-- owners should not be able to create a bid -->

                                {% if listingowner %}
                                    <form action="" class="close-listing-form" method="POST">
                                        {% csrf_token %}
                                        <!-- <label for="status">Close listing</label> -->

                                            {% if listing.status == "T" %}
                                                {% if messages %}
                                                    {% for message in messages %}
                                                        
                                                        {% if message.tags == "error" %}
                                                            <p class="error">{{message}}</p>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                    
                                                <input type="submit" name="listing_status_submit" value="Close Listing">

                                            {% else %}
                                    
                                                {% if messages %}
                                                    {% for message in messages %}
                                                        {% if message.tags == "success" %}
                                                            <p class="success">{{message}} - Highest bidder <strong>{{listing.winner}}</strong></p>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            
                                        
                                                {% endif %}
                                    </form>
                                {% else %}
                                    {% if listing.status == 'T' %}
                                        <form class="form-bid" action="" method="POST">
                                            {% csrf_token %}
                                            {% if messages %}
                                                {% for message in messages %}
                                                    
                                                    {% if message.tags == "success" %}
                                                        <p class="success">{{message}}</p>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                            {{ bidForm.bid.errors }}
                                            {{bidForm.bid.label}}
                                            {{bidForm.bid}}
                                            <input type="submit" name="submit_bid" value="Submit">
                                        </form>
                                    {% else %}

                                        {% if listingwinner %}
                                            <p class="success">Congratulations you are the highest bidder</p>
                                            
                                        {% else %}
                                            {% if listing.status == "F" %}
                                                <p class="bidding-status-p">Bidding is Closed: <a href="{% url 'index' %}"  class="white-link">View Active Listings</a></p>
                                            {% endif %}
                                        {% endif%}
                                        
                                    {% endif %} 
                                {% endif %}
                            {% else %}
                                {% if listing.status == "F" %}
                                    <p class="bidding-status-p">Bidding is Closed: <a href="{% url 'index' %}"  class="white-link">View Active Listings</a></p>
                                    
                                {% else%}
                                    <p class="bidding-status-p">Login to start bidding: <a class="white-link" href="{% url 'login' %}">Login</a></p>
                                {% endif %}
                            {% endif %}
                        </div>

        
                    </div>

                    <div class="comment-area">
                        <h2>Comments</h2>
                        <div class="existing-comments">
                            {% for comment in comments %}
                                <div class="comment">
                                    <p>{{comment.content}}</p>
                                    <p>By {{comment.user}}</p>
                                </div>

                            {% empty %}
                                <div class="comment">
                                    <p>No Comments to list</p>
                                </div>
                            {% endfor %}


                        </div>

                        {% if user.is_authenticated %}
                            <form class="form-comment" action="" method="POST">
                                {% csrf_token %}
                                
                                <p>
                                        {{commentForm.comment.label}}
                                </p>

                                <p>
                                        {{commentForm.comment}}
                                </p>
                            
                                <input type="submit" name="submit_comment"  value="Submit">
                            </form>
                        {% else %}
                            <p>Login to create a comment <a class="white-link" href="{% url 'login' %}">Login</a></p>
                        
                        {% endif %}

                    </div>


                    
                </div>
            

            </div>

        </main>
        
    </div>


    

{% endblock %}