.main-watchlist{
    min-height: 800px;
    margin-top: 126px;
}

.watchlist-wraper{
    padding: 40px;
    width: 70%;
    margin: 0 auto;
}
.watchlist-wraper h1{
    text-align: center;
    

}
.items-container{
    margin: 50px 0;
}
.item-flex {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    margin: 40px auto 40px auto;
    /* background-color: rgb(249, 249, 249); */
    border-left:  10px  solid rgb(79, 111, 179);
    
    padding: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 4px 10px 15px 2px rgba(107, 107, 107, 0.1);
    box-shadow: 4px 10px 15px 2px rgba(107, 107, 107, 0.1);
    transition: all 0.8s;
}
.item-flex:hover{
    transform: scale(1.01);
    border-left:  10px  solid rgb(137, 163, 218);
}
.item-flex p{
    margin: 0;
}

.item-flex > *:not(:last-of-type){
    margin-right: 30px;
}

.flex-left {
    width: 20%;
    align-self: center;
    text-align: center;
}

.flex-left img {
    width: 150px;
    height: 150px;
    object-fit: contain;

}
.flex-right{
    width: 80%;
}
.flex-right .view-more{
    /* width: 100px; */
    /* width: max-content; */
}

.flex-right h2{
    color: rgb(90, 151, 212);;
}
.flex-data{
    display: flex;
    justify-content: flex-start;

}
.flex-data .status{
    align-self: center;
}

.flex-data .status span{
    /* font-weight: bold; */
    font-size: 30px;
    margin-left: 5px;
    color: rgb(90, 151, 212);;
}
.flex-data > *:not(:last-of-type){
    margin-right: 20px;

}
